<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDImporterXML.RobotPosService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TDImporterXML.RobotPosService.Properties.Settings>
            <setting name="TDImporterXML_RobotPosService_RobotposServices_integrationService"
                serializeAs="String">
                <value>http://31.207.80.227/tavukdunyasi/TavukDunyasiYeni/integration.asmx</value>
            </setting>
        </TDImporterXML.RobotPosService.Properties.Settings>
    </applicationSettings>
</configuration>