@model TDImporterXML.Entities.MBI_Users
@{
    Layout = null;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tavuk Dünyası - Üretim Emri Otomasyonu</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <!-- /theme JS files -->
</head>
<body class="login-container">
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Simple login form -->
                @using (Html.BeginForm("Login", "ManageAccount", FormMethod.Post))
                {
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <br/>
                            <img src="~/Content/assets/images/tavuk-dunyasi.png" width="300" alt=""/>
                            <br/><br/>
                            <h5 class="content-group">Hesabınıza giriş yapın <small class="display-block">Satış Aktarım </small></h5>
                            @if (ViewBag.LoginError != null)
                            {
                                <div class="alert alert-danger no-border">
                                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
                                    @ViewBag.LoginError
                                </div>
                            }
                                
                        </div>
                        <div class="form-group has-feedback has-feedback-left" style="margin: 15px;">
                            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "Kullanıcı Adı"})

                            <div class="form-control-feedback" style="margin-left: 5px;">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left" style="margin: 15px;">
                            @Html.TextBoxFor(m => m.Password, new {type = "password", @class = "form-control", placeholder = "Şifre"})
                            <div class="form-control-feedback" style="margin-left: 5px;">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px;">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                    </div>
                }
                <!-- /simple login form -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
</body>
</html>
